.pb {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin: auto;
}

/* .squareb {
  margin-top: 200px;
  margin-bottom: -100px;
} */
