.pb {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin: auto;
  margin-bottom: 200px;
}

.squareb {
  margin-top: 200px;
  margin-bottom: -100px;
  display: flex;
  align-items: center;
  margin-right: 100px;
  height: 150px;
  width: 100px;
  border-left: 10px dotted rgb(21, 223, 156);
  background-color: rgb(38, 37, 37);
}
