body {
  flex-direction: column;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 22px;
}

.square {
  min-height: 100px;
  min-width: 100px;
  border-top: 1px solid black;
  background-color: rgb(215, 213, 213);
}

.square .da {
  font-size: 26px;
}
